<template>
  <body v-if="classements">
  <h1>Classement</h1>
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <RouterLink to="/classement-orthographe" class="nav-link">Classement par orthographge</RouterLink>
    </li>
    <li class="nav-item">
      <RouterLink to="/classement-grammaire" class="nav-link">Classement par Grammaire</RouterLink>
    </li>
  </ul>
  <table>
    <tbody><tr>
      <th>classement</th>
      <th>Nom</th>
      <th>Titre</th>
      <th>Faute(s) grammaire(s)</th>
      <th>Faute(s) d'orthographe(s)</th>
      <th>Total de faute(s)</th>
    </tr>
    <tr v-for="(classement, index) in classements">
      <td> {{ index+1 }}</td>
      <td>{{ classement.auteur }}</td>
      <td>{{ classement.titre }}</td>
      <td>{{ classement.grammaire }}</td>
      <td>{{ classement.orthographe }}</td>
      <td>{{ classement.orthographe + classement.grammaire}}</td>
    </tr>
    </tbody>
  </table>
  </body>
</template>
<script setup lang="ts">

import {ClassementModel} from "@/models/ClassementModel";
import {onMounted, ref} from "vue";
import {useClassementService} from "@/composables/ClassementService";

const classements = ref<Array<ClassementModel>>([]);
const error = ref(false);
const classementService = useClassementService();
onMounted(async () => {
  try {
    classements.value = await classementService.classmement();
    console.log(classements);
  } catch (e) {
    error.value = true;
  }
});
</script>
<style>
table{
  border-collapse: collapse
}

td{
  border: 1px solid black;
  padding: 10px;
}
th{
  border: 1px solid black;
  padding: 10px;
}
</style>
