<template>
  <h1>Classement par grammaire</h1>
  <table v-if="classementsGrammaire">
    <colgroup>
      <col span="2">
      <col style="background-color:#97DB9A;">
      <col style="width:42px;">
      <col style="background-color:#97DB9A;">
      <col span="2" style="width:42px;">
      <col style="background-color:#97DB9A; width:42px;">
    </colgroup>
    <tbody>
    <tr>
      <th>classement par grammaire</th>
      <th>Nom</th>
      <th>Titre</th>
      <th>Faute(s) grammaire(s)</th>
      <th>Faute(s) d'orthographe(s)</th>
      <th>Total de faute(s)</th>
    </tr>
    <tr v-for="(classement, index) in classementsGrammaire">
      <td> {{ index+1 }}</td>
      <td>{{ classement.auteur }}</td>
      <td>{{ classement.titre }}</td>
      <td>{{ classement.grammaire }}</td>
      <td>{{ classement.orthographe }}</td>
      <td>{{ classement.orthographe + classement.grammaire}}</td>
    </tr>
    </tbody>
  </table>
</template>
<script setup lang="ts">

import {ClassementModel} from "@/models/ClassementModel";
import {onMounted, ref} from "vue";
import {useClassementService} from "@/composables/ClassementService";

const classementsGrammaire = ref<Array<ClassementModel>>([]);
const error = ref(false);
const classementService = useClassementService();
onMounted(async () => {
  try {
    classementsGrammaire.value = await classementService.classmementGrammaire();
  } catch (e) {
    error.value = true;
  }
});
</script>
<style>
table{
  border-collapse: collapse
}

td{
  border: 1px solid black;
  padding: 10px;
}
th{
  border: 1px solid black;
  padding: 10px;
}
</style>
