<template>
  <div>
    <form @submit.prevent="sendText()">
      <div class="mb-3">
        <input
            id="name"
            name="name"
            type="text"
            class="form-control"
            v-model="textModel.auteur"
            @input.once="dirty.auteur = true"
            :class="{ 'is-invalid': dirty.auteur && errors.auteur }"
        />
        <div v-if="dirty.auteur && errors.auteur" class="invalid-feedback  d-block">Vous devez renseigner votre nom.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" :class="{ 'text-danger': dirty.titre && errors.titre }">Titre de votre texte</label>
        <input
            id="title"
            name="title"
            type="text"
            class="form-control"
            v-model="textModel.titre"
            @input.once="dirty.titre = true"
            :class="{ 'is-invalid': dirty.titre && errors.titre }"
        />
        <div v-if="dirty.titre && errors.titre" class="invalid-feedback  d-block">Vous devez renseigner le titre.</div>
      </div>
      <div class="mb-3">
        <label class="form-label" :class="{ 'text-danger': dirty.text && errors.text }">Votre texte</label>
        <input
            id="text"
            name="text"
            type="text"
            class="form-control"
            v-model="textModel.text"
            @input.once="dirty.text = true"
            :class="{ 'is-invalid': dirty.text && errors.text }"
        />
        <div v-if="dirty.titre && errors.titre" class="invalid-feedback  d-block">Vous devez écrire un texte.</div>
      </div>

    <button class="btn btn-primary" type="submit" >Corrigez moi</button>
    </form>
  </div>
</template>

<script setup lang="ts">
import {computed, onMounted, reactive, ref} from 'vue';
import {TextModel} from "@/models/TextModel";
import {useRouter} from "vue-router";
import {useTextService} from "@/composables/TextService";
import axios from 'axios';


const textModel = reactive({
  text: '',
  auteur: '',
  titre: ''
} as TextModel);

const dirty = reactive<{ [K in keyof TextModel]: boolean }>({
  text: false,
  auteur: false,
  titre: false
});

const errors = computed(() => {
  const errors: Partial<Record<keyof TextModel, boolean>> = {};

  if (!textModel.text) {
    errors.text = true;
  }
  if (!textModel.titre) {
    errors.auteur = true;
  }
  if (!textModel.auteur) {
    errors.titre = true;
  }
  return errors;
});

const textService = useTextService();
const postFailed = ref(false);
const router = useRouter();
// async function sendText() {
//   try {
//     await textService.sendText(textModel);
//     router.push({ name: 'home' });
//   } catch (e) {
//     postFailed.value = true;
//   }
// }

function sendText() {
  console.log("hello");
  axios.post('http://correctme-back:8080/send/message', {
    "titre": textModel.titre,
    "auteur": textModel.auteur,
    "texte": textModel.text
}).then(resp => {
  console.log(resp);
}).catch(err => {
  console.log(err);
})
}

</script>
<style>
.margin {
  margin-top: 30px;
}
</style>
