<template>
  <div class="text-center" style="margin-top: 100px">
  <div>
    <h1> Bienvenue sur Correct Me !</h1>
  </div>

  <div>
    <RouterLink to="/correction" class="btn btn-primary">Corriger un texte</RouterLink>
    <RouterLink to="/classement" class="btn btn-large btn-primary">Classement</RouterLink>
  </div>
  </div>
</template>
<script setup lang="ts">
</script>
